data sources:

- https://fdc.nal.usda.gov/download-datasets.html
- https://www.ers.usda.gov/data-products/fruit-and-vegetable-prices.aspx

- https://www.kaggle.com/datasets/thedevastator/the-nutritional-content-of-food-a-comprehensive
- https://www.kaggle.com/datasets/trolukovich/nutritional-values-for-common-foods-and-products
- https://www.kaggle.com/datasets/thunderz/food-data


inspiration sources:

- https://nutritionj.biomedcentral.com/articles/10.1186/s12937-019-0496-5
- https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2954450/
- https://www.healthline.com/nutrition/29-cheap-healthy-foods
- https://nutritionfacts.org/blog/best-nutrition-bang-for-your-buck/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
food = pd.read_csv('data/USDA-FoundationFoods/food.csv').dropna(subset='description')

In [3]:
(
    food[(food['description'].str.contains(' wheat ', case=False)) &
     ~(food['description'].str.contains('bread', case=False)) &
         (food['data_type'] == 'market_acquisition')]
)

,fdc_id,data_type,description,food_category_id,publication_date
18272,790020,market_acquisition,"FLOUR, WHOLE WHEAT (UNENRICHED) (ORGANIC)",20.0,2020-04-01
18283,790031,market_acquisition,"FLOUR, WHOLE WHEAT (UNENRICHED)",20.0,2020-04-01
18294,790042,market_acquisition,"FLOUR, WHOLE WHEAT (UNENRICHED)",20.0,2020-04-01
18305,790053,market_acquisition,"FLOUR, WHOLE WHEAT (UNENRICHED)",20.0,2020-04-01
18316,790064,market_acquisition,"FLOUR, WHOLE WHEAT (UNENRICHED) (ORGANIC)",20.0,2020-04-01
18327,790075,market_acquisition,"FLOUR, WHOLE WHEAT (UNENRICHED)",20.0,2020-04-01

In [ ]:
pd.read_csv('data/USDA-FoundationFoods/nutrient.csv')

,id,name,unit_name,nutrient_nbr,rank
0,2047,Energy (Atwater General Factors),KCAL,957.0,280.0
1,2048,Energy (Atwater Specific Factors),KCAL,958.0,290.0
2,1001,Solids,G,201.0,200.0
3,1002,Nitrogen,G,202.0,500.0
4,1003,Protein,G,203.0,600.0
...,...,...,...,...,...
469,2061,"Ergosta-7,22-dienol",MG,NaN,16211.0
470,2062,"Ergosta-5,7-dienol",MG,NaN,16211.0
471,2063,Verbascose,G,NaN,2450.0
472,2064,Oligosaccharides,MG,NaN,2250.0
473,2065,Low Molecular Weight Dietary Fiber (LMWDF),G,293.4,1306.0

In [ ]:
peek = pd.read_csv('data/USDA-FoundationFoods/food_attribute.csv')
peek[peek['fdc_id']==790031]

,id,fdc_id,seq_num,food_attribute_type_id,name,value
3067,1832312,790031,NaN,NaN,Ingredients,whole wheat flour
3068,1832310,790031,NaN,NaN,Organic,No

In [ ]:
# the multi-file raw downloads from USDA are so normalized and 
# fragmented it's painfully time consuming just to identify joins and meaningful points.
#